body{
    margin: 0;
}


.banner{
    height: 150px;
    width: 100%;
    background-color: #878781;
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -10px;
}

.logo1{
    height: 60%;
    width: 30%;
}
.img1{
    height: 100%;
    width: 100%;
}

li{
    text-decoration: none;
    border-right: 1px solid #fff;
    padding: 0 30px;
    display: inline-block;
    font-size: 120%;
}
.h{
    color: #fff;
    text-decoration: none;
}

.h:hover{
    color: #F7FE2E;
}

.imagen{
    background-color: lightblue;
    height: 450px;
    display: flex;
    background-image: url(../resources/banner\ medio.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.txt{
    position: absolute;
    top: 25%;
    left: 8%;
}
h2{
    width: auto;
    color: white;
    font-size: 300%;
    margin: 0;
}

.ver1{
    position: absolute;
    text-decoration: none;
    top: 45%;
    left: 8%;
    margin: 0;
    padding: .5% 2%;
    border: 1px solid white;
    font-size: 150%;
    color: white;
}
.ver1:hover{
    color: #000;
    background-color: white;
}


.text{
    display: flex;
    left: 0;
    position: static;
    font-size: 20px;
    text-align: justify;
    align-items: center;
    justify-content: space-between;
    margin: 3% 10%;
}

.col{
    width: 40%;
    height: 50%;
    margin: 0;
}



.footer{
    bottom: 0;
    left: 0;
    height: 120px;
    width: 100%;
    background-color: #878781;
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo2{
    height: 50%;
    width: 25%;
}
.img2{
    height: 100%;
    width: 100%;
}
.lorem{
    color: white;
    font-size: 25px;
    text-align: center;
    margin: 0;
}
.face{
    height: 64px;
    width: 380px;
}
.img3{
    height: 100%;
    width: 64px;
}